<div class="col col-md-12 my-auto p-3">
  <h1 class="text-center text-white">Portfólio</h1>

  <div class="card mb-3">
    <img src="../../../assets/thumb-personal.PNG" class="card-img-top">
    <div class="card-body bg-light">
      <h5 class="card-title">Este webapp</h5>
      <p class="card-text">Desenvolvi esse webapp para divulgar meus contatos e trabalhos. Nele utilizo Angular e Boostrap!</p>
    </div>
  </div>
</div>

