<div class="col col-md-12">
  <div class="row">
    <div class="col col-md-2 text-center">
      <img src="../../../assets/amused-yu.jpg" class="rounded-circle img-fluid">
    </div>

    <div class="col col-md-10">
      <div class="card">
        <div class="card-header">
          <h3>Sobre</h3>
        </div>
        <div class="card-body">
          <div>
            <p class="text-justify">
              <span>Como desenvolvedor web, iniciei minha carreira profissional como programador front-end AngularJS
                mas
                logo aprendi a trabalhar com desenvolvimento back-end Java 8.</span>
            </p>
            <p class="text-justify">
              <span>Trabalho a um bom tempo com o <a href="https://www.jhipster.tech/" target="_blank">Jhipster</a>, que
                é um framework gerador de aplicações com front/back.
                Como o Jhispter engloba outros frameworks como o Spring, Maven e Liquibase acabei aprendendo a
                trabalhar com eles também. </span>
            </p>
            <p class="text-justify">
              <span>O banco de dados com o qual eu tenho mais experiencia é o Postgresql, mas estou apredendo a
                trabalhar com bancos não relacionais, no momento MongoDB.</span>
            </p>
            <p class="text-justify">
              <span>Apesar trabalhar como programador full-stack angular/java gostaria de mudar meu foco para
                desenvolvimento angular/nodeJs, então aprendendo mais sobre backend Node com o <a
                  href="https://expressjs.com/pt-br/" target="_blank">ExpressJS</a>.</span>
            </p>
          </div>
          <div>
            <h3>Perfil</h3>
            <p class="text-justify">
              <span>Eu sou uma pessoa séria e quieta, uma das coisas que eu acredito é que quando
                não se tem nada de bom
                pra falar é melhor ficar em silêncio.</span>
            </p>
          </div>
          <div>
            <h3>Hobbies</h3>
            <p class="text-justify">
              <span>Gosto de jogar jogos eletronicos, principalmente: MMORPGS, Rpgs e RTS.</span>
            </p>
            <p class="text-justify">
              <span>Também leio mangá, light novels e assisto anime.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>