<footer class="footer text-center mt-auto text-white">
  <span class="d-block d-inline">Desenvolvido por Alexandre Makiyama (Makiasake)</span>
  <span class="d-block d-inline">
    <a href="https://www.linkedin.com/in/alexandre-makiyama-8a1b4715b/" target="_blank" class="text-white">
      <span>
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </span>
    </a>
    <a href="https://bitbucket.org/makiasake/" target="_blank" class=" text-white">
      <span>
        <fa-icon [icon]="['fab', 'bitbucket']"></fa-icon>
      </span>
    </a>
  </span>
</footer>