<nav class="navbar navbar-expand-md navbar-dark bg-darkest">
  <a class="navbar-brand" href="#">
    <span class="d-inline-block align-top text-white">
      <fa-icon [icon]="['fa', 'home']"></fa-icon>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/resume">Currículo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portifolio">Portfólio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/certificates">Certificados/Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Sobre</a>
      </li>
    </ul>
  </div>
</nav>