<div class="text-center my-auto container-fluid">
  <div class="home-cover p-3 mx-auto flex-column">
    <div class="text-white">
      <h1>Alexandre Makiyama</h1>

      <p class="lead">
        Olá, eu sou um programador, quer saber mais?
      </p>
      <p class="lead">
        <a class="btn btn-lg btn-secondary" href="/about">Mais</a>
      </p>
    </div>
  </div>
</div>