.app {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.navbar {
    flex: 0 1 auto;
    display: block;
}

.content {
    flex: 1 1 auto;
    display: block;
}

.footer {
    flex: 0 1 auto;
    display: block;
    height: 6%;
}