<div class="app">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>