/* You can add global styles to this file, and also import other style files */

.disable-hscroll {
    overflow-x: hidden;
}

.bg-darkest {
    background-color: #212121 !important;
}

.min-height {
    min-height: 100%;
    height: 100%;
}