<div class="col col-md-12">
  <div class="row">
    <div class="col col-md-2 links-col">
      <img src="../../../assets/amused-yu.jpg" class="rounded-circle img-fluid">

      <ul>
        <li>
          <span class="d-inline">
            <fa-icon [icon]="['fa', 'home']"></fa-icon>
          </span>
          <span> Americana, SP</span>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/alexandre-makiyama-8a1b4715b/" target="_blank" class=" text-white">
            <span class="d-inline">
              <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </span>
            <span> in/alexandre-makiyama</span>
          </a>
        </li>
        <li>
          <a href="https://bitbucket.org/makiasake/" target="_blank" class=" text-white">
            <span class="d-inline">
              <fa-icon [icon]="['fab', 'bitbucket']"></fa-icon>
            </span>
            <span> /makiasake</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col col-md-10 text-white">
      <h1>Alexandre Ribeiro Makiyama</h1>
      <h2>Programador</h2>

      <hr>

      <h2>Objetivo</h2>
      <p class="text-white text-justify">
        <span>Atuar no desenvolvimento e análise de sistemas.</span>
      </p>

      <hr>

      <div>
        <h2>Experiência</h2>
        <h3>J.S Serviços fotográficos ME. – Programador de Sistemas | 2016 – 2017</h3>
        <ul>
          <li>
            <span>
              Desenvolvimento fullstack, utilizando angularJS/ Java(SpringBoot) e banco
              postgresql.
            </span>
          </li>
        </ul>

        <h3>Upfour Informática LTDA EPP. – Programador Web Júnior II | 2017 – 2019</h3>
        <ul>
          <li>
            <span>Como programador fullstack Angular2+/Java (SpringBoot), banco postgresql.</span>
          </li>
          <li>
            <span>Desenvolvimento de aplicativo móvel com framework TotalCross, banco
              litebase.
            </span>
          </li>
          <li>
            <span>Elaboração de design documents. </span>
          </li>
        </ul>

      </div>

      <hr>

      <h2>Formação</h2>
      <p class="text-white text-justify">
        <span>Análise e Desenvolvimento de sistemas - <a>Fatec Americicana</a> - 2019.</span>
      </p>

      <hr>

      <div>
        <h2>Idiomas</h2>
        <ul class="text-white">
          <li><span>Português - Nativo</span></li>
          <li><span>Inglês – Avançado – 5 Anos de aulas particulares.</span></li>
        </ul>
      </div>
      <hr>

      <h2>Habilidades</h2>
      <ul class="text-white">
        <li><span>Angular 2+</span></li>
        <li><span>Java</span></li>
        <li><span>SpringBoot Framework</span></li>
        <li><span>NodeJs</span></li>
        <li><span>Typescript</span></li>
        <li><span>Postgresql</span></li>
        <li><span>MongoDB</span></li>
        <li><span>Git</span></li>
      </ul>
    </div>
  </div>
</div>